.tool-kit {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: fit-content;
  padding: 16px;
  border: 1px solid black;
  background: white;
  cursor: grab;
  button {
    cursor: pointer;
  }
}